body{
    background-color: bisque;
}

/* CLASS tanımlamaları*/

/* class . (Nokta) ile tanımlanır*/

.anaDiv{
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 18px;

    margin-top:50px;
    margin-bottom:120px;
    margin-left: 30px;
    margin-right:85px;

    margin:45px 80px;

    margin:10px 50px 0 120px;

    margin:25px;

    padding-top: 40px;
    padding-bottom:20px;
    padding-right:40px;
    padding-left: 80px;

    padding:45px 80px;

    padding:10px 50px 0 120px;

    padding:25px;
}

.altDiv{
    background-color: black;
    font-size: 18px;
    padding: 25px;

}

.wh{
    background-color: burlywood;
    width: 320px;
    height: 180px;
    width: 80%;
    width: 100%;

    height: 100%;
    height: 100vh;
}


.border{
    margin:25px;
    width: 50%;
    height: 180px;
    

    border-top:2px solid black;
    border-right:2px dotted red;
    border-bottom: 5px dashed blue;
    border-left: 2px solid brown;

    border: 3px solid brown;

    border-radius: 10%;

    border-top-right-radius: 80%;

}

.background{
    /* background-color: blueviolet;
    background-image: url('../images/gazi.png');
    background-position: top left;
    background-position: bottom right;
    background-position: center;

    background-size: 25%;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    background-size: 100% 100%;
    background-size: cover; */

    background: top/cover  url('../images/gazi.png') red ;
}

.font{
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
    text-align: left;
    text-decoration: underline dotted;
    text-decoration-color: bisque;

    text-transform: capitalize;

    text-shadow: 10px 5px red;
}
